.MovieSection {
    font-size: 24px;
    .title {
        span {
            padding-left: 20px;
            display: inline-block;
            line-height: 60px;
            font-size: 36px;
        }
    }
    .moveWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .movieItem {
        box-sizing: border-box;
        display: block;
        height: 350px;
        width: 350px;
        margin: 10px;
        padding: 10px;
        border: 1px solid #eee;
    }
    .movieImage {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        max-height: 220px;
        overflow: hidden;
        text-align: center;
        img {
            width: 100%;
            height: auto;
        }
    }
    .movieText {
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.AppMenu {
    font-size: 30px;
    .MenuDrawer {}
    .DrawerItem{
        color: #666;
        margin: 0 20px;
        height: 60px;
        border-bottom: 1px solid #999;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}